import { ConfigType } from '@config';

const defaultConfig: ConfigType = {
  dynamicConfig: {
    enabled: true,
    apiUrl: 'url',
    interval: 1,
  },
  location: {
    default: {
      name: 'Helsinki',
      area: 'Suomi',
      lat: 60.16952,
      lon: 24.93545,
      id: 658225,
      country: 'FI',
      timezone: 'Europe/Helsinki',
    },
    apiUrl: 'url',
    keyword: 'string',
    maxRecent: 5,
    maxFavorite: 10,
  },
  map: {
    updateInterval: 5,
    sources: {
      sourceKey: 'url',
      sourceKey2: 'url',
    },
    layers: [
      {
        id: 1,
        name: { fi: 'name' },
        type: 'WMS',
        sources: [
          {
            source: 'sourceKey',
            layer: 'layerName',
            type: 'observation',
          },
        ],
        times: {
          timeStep: 15,
          observation: 8,
        },
      },
    ],
  },
  weather: {
    apiUrl: 'url',
    forecast: {
      updateInterval: 5,
      timePeriod: 'data', // accepts also: 5, '+5d', '+120h'
      forecastLengthTitle: 10, // optional, defaults to 10
      data: [{ producer: 'default', parameters: ['temperature'] }],
      defaultParameters: ['temperature'],
      excludeDayLength: false,
      infoBottomSheet: {
        showAllSymbols: false,
      }
    },
    observation: {
      enabled: true,
      updateInterval: 5,
      numberOfStations: 10,
      producer: { default: 'observation_producer' },
      timePeriod: 24,
      parameters: ['temperature'],
    },
  },
  warnings: {
    enabled: true,
    updateInterval: 5,
    webViewUrl: 'url',
    apiUrl: {
      FI: 'url', // [countryCode]: 'url' 
    },
    capViewSettings: {
      mapHeight: 500,
      numberOfDays: 10,
      datasources: [
        {
          id: 1,
          url: 'url',
          urlIcons: '',
        },
      ],
      initialRegion: {
        latitude: 17.99702,
        longitude: -77.25,
        latitudeDelta: 1,
        longitudeDelta: 2.5,
      },
      mapZoomEnabled: true,
      mapScrollEnabled: false,
    },
  },
  settings: {
    languages: ['fi', 'en', 'sv'],
    units: {
      temperature: 'C',
      precipitation: 'mm',
      wind: 'm/s',
      pressure: 'hPa',
    },
    themes: {
      light: true,
      dark: true,
    },
    clockType: 24,
  },
  announcements: {
    enabled: true,
    updateInterval: 5,
    api: {
      fi: 'url',
    },
  },
  socialMediaLinks: [
    {
      name: 'SocialMedia1',
      icon: 'social-media',
      appUrl: 'socialMedia://user?username=example',
      url: 'https://www.socialmedia.example',
    },
  ],
  onboardingWizard: {
    enabled: true,
  },
  feedback: {
    enabled: true,
    email: 'mobiili@fmi.fi',
    subject: 'Ilmatieteen laitoksen sää palaute',
  },
};

export default defaultConfig;
