import { ConfigType } from '@config';

const defaultConfig: ConfigType = {
  dynamicConfig: {
    enabled: true,
    apiUrl: 'url',
    interval: 1,
  },
  location: {
    default: {
      name: 'Helsinki',
      area: 'Suomi',
      lat: 60.16952,
      lon: 24.93545,
      id: 658225,
      country: 'FI',
      timezone: 'Europe/Helsinki',
    },
    apiUrl: 'url',
    keyword: 'string',
    maxRecent: 5,
    maxFavorite: 10,
  },
  map: {
    latitudeDelta: 0.15,
    updateInterval: 5,
    sources: {
      key: 'url',
      key2: 'url',
    },
    layers: [
      {
        id: 1,
        name: { fi: 'name' },
        type: 'WMS',
        legend: 'urlString',
        sources: [
          {
            source: 'sourceKey',
            layer: 'layerName',
            type: 'observation',
             boundingBox: {
              minx: -10.908,
              miny: 51.113,
              maxx: 37.162,
              maxy: 72.002,
            },
          },
        ],
        times: {
          timeStep: 15,
          observation: 8,
        },
      },
    ],
  },
  weather: {
    apiUrl:
      'url',
    forecast: {
      updateInterval: 5,
      timePeriod: 'data',
      producer: 'default',
      parameters: ['Temperature'],
    },
    observation: {
      enabled: true,
      updateInterval: 5,
      numberOfStations: 10,
      producer: 'observation_producer',
      timePeriod: 24,
      parameters: ['Temperature'],
    },
  },
  warnings: {
    enabled: true,
    updateInterval: 5,
    apiUrl:
      'url',
  },
  settings: {
    languages: ['fi', 'en', 'sv'],
    units: {
      Temperature: ['C', 'F'],
    },
  },
};

export default defaultConfig;
