{
  "dynamicConfig": {
    "enabled": false,
    "apiUrl": "url",
    "interval": 1
  },
  "location": {
    "default": {
      "name": "Helsinki",
      "area": "",
      "lat": 60.16952,
      "lon": 24.93545,
      "id": 658225,
      "country": "FI",
      "timezone": "Europe/Helsinki"
    },
    "apiUrl": "url"
  },
  "weather": {
    "apiUrl": "url",
    "interval": 30,
    "useCardinalsForWindDirection": false
  },
  "warnings": {
    "apiUrl": "url",
    "interval": 5
  },
  "announcements": {
    "enabled": true,
    "api": {
      "fi": "url",
      "en": "url",
      "sv": "url"
    }
  },
  "layout": {
    "logo": {
      "enabled": true
    }
  }
}
