<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="jm.gov.metservice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <queries>
      <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="twitter://" android:host="com.twitter.android" />
      </intent>
      <intent>
        <action android:name="android.intent.action.VIEW"/>
        <data android:scheme="instagram://" android:host="com.instagram.android" />
      </intent>
      <intent>
        <action android:name="android.intent.action.VIEW"/>
        <data android:scheme="youtube" android:host="com.google.android.youtube" />
      </intent>
    </queries>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:networkSecurityConfig="@xml/network_security_config">

      <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/GOOGLE_MAPS_API_KEY" />

      <!-- Add SplashActivity -->
      <activity
        android:name=".SplashActivity"
        android:theme="@style/SplashTheme"
        android:label="@string/app_name"
        android:exported="true">
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>

      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true" />

    </application>

</manifest>
